 /* ------------------Main Screen---------------- */
 .main {

    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 965px;
  }

  /* ------------------Container---------------- */
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 650px;
    width: 600px;
    text-align: center;
    border: 8px solid gainsboro;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
/* ------------------Heading---------------- */
  .heading {
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
/* ------------------Form---------------- */
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
/* ------------------Fields---------------- */
  input[type="text"] {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }
/* ------------------Buttons---------------- */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .edit-button,
  .remove-button,
  .save-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
  }

  .edit-button:hover,
  .remove-button:hover {
    background-color: #45a049;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
/* ------------------Checkbox---------------- */
  .completed span {
    text-decoration: line-through;
    color: #888;
  }